# Data Manipulation

## Loading Data and Different Formats

Let's read the CSV file into a better format - Apache Arrow!

In [ ]:
download("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original",
         "data/auto.txt")

In [1]:
readlines("data/auto.txt")   # Just to see if it's there

406-element Array{String,1}:
 "18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t\"chevrolet chevelle malibu\""
 "15.0   8.   350.0      165.0      3693.      11.5   70.  1.\t\"buick skylark 320\""
 "18.0   8.   318.0      150.0      3436.      11.0   70.  1.\t\"plymouth satellite\""
 "16.0   8.   304.0      150.0      3433.      12.0   70.  1.\t\"amc rebel sst\""
 "17.0   8.   302.0      140.0      3449.      10.5   70.  1.\t\"ford torino\""
 "15.0   8.   429.0      198.0      4341.      10.0   70.  1.\t\"ford galaxie 500\""
 "14.0   8.   454.0      220.0      4354.       9.0   70.  1.\t\"chevrolet impala\""
 "14.0   8.   440.0      215.0      4312.       8.5   70.  1.\t\"plymouth fury iii\""
 "14.0   8.   455.0      225.0      4425.      10.0   70.  1.\t\"pontiac catalina\""
 "15.0   8.   390.0      190.0      3850.       8.5   70.  1.\t\"amc ambassador dpl\""
 "NA     4.   133.0      115.0      3090.      17.5   70.  2.\t\"citroen ds-21 pallas\""
 "NA     8.   350.0      165.0      4142.      11.5   70.  1.\t\"chevrolet chevelle concours (sw)\""
 "NA     8.   351.0      153.0      4034.      11.0   70.  1.\t\"ford torino (sw)\""
 ⋮
 "25.0   6.   181.0      110.0      2945.      16.4   82.  1.\t\"buick century limited\""
 "38.0   6.   262.0      85.00      3015.      17.0   82.  1.\t\"oldsmobile cutlass ciera (diesel)\""
 "26.0   4.   156.0      92.00      2585.      14.5   82.  1.\t\"chrysler lebaron medallion\""
 "22.0   6.   232.0      112.0      2835       14.7   82.  1.\t\"ford granada l\""
 "32.0   4.   144.0      96.00      2665.      13.9   82.  3.\t\"toyota celica gt\""
 "36.0   4.   135.0      84.00      2370.      13.0   82.  1.\t\"dodge charger 2.2\""
 "27.0   4.   151.0      90.00      2950.      17.3   82.  1.\t\"chevrolet camaro\""
 "27.0   4.   140.0      86.00      2790.      15.6   82.  1.\t\"ford mustang gl\""
 "44.0   4.   97.00      52.00      2130.      24.6   82.  2.\t\"vw pickup\""
 "32.0   4.   135.0      84.00      2295.      11.6   82.  1.\t\"dodge rampage\""
 "28.0   4.   120.0      79.00      2625.      18.6   82.  1.\t\"ford ranger\""
 "31.0   4.   119.0      82.00      2720.      19.4   82.  1.\t\"chevy s-10\""

In [2]:
using CSV
using DataFrames

In [3]:
df = CSV.File("data/auto.txt",
               delim=' ',
               ignorerepeated=true,
               header=[:mpg, :cylinders, :displacement, :horsepower,
                       :weight, :acceleration, :year, :origin, :name],
               missingstring="NA") |>
      DataFrame

┌ Warning: thread = 1 warning: parsed expected 9 columns, but didn't reach end of line around data row: 1. Ignoring any extra columns on this row
└ @ CSV /Users/nam/.julia/packages/CSV/YUbbG/src/file.jl:604

1×9 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     ⋯
                                                               3 columns omitted

That didn't work well. So, let's try to fix this.

In [4]:
raw_str = read("data/auto.txt", String);

In [5]:
str_no_tab = replace(raw_str, '\t'=>' ');

In [6]:
io = IOBuffer(str_no_tab)

IOBuffer(data=UInt8[...], readable=true, writable=false, seekable=true, append=false, size=32149, maxsize=Inf, ptr=1, mark=-1)

In [7]:
df = CSV.File(io,
               delim=' ',
               ignorerepeated=true,
               header=[:mpg, :cylinders, :displacement, :horsepower,
                       :weight, :acceleration, :year, :origin, :name],
               missingstring="NA") |>
      DataFrame

406×9 DataFrame
 Row │ mpg        cylinders  displacement  horsepower  weight   acceleration   ⋯
     │ Float64?   Float64    Float64       Float64?    Float64  Float64        ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      18.0        8.0         307.0       130.0   3504.0          12.0   ⋯
   2 │      15.0        8.0         350.0       165.0   3693.0          11.5
   3 │      18.0        8.0         318.0       150.0   3436.0          11.0
   4 │      16.0        8.0         304.0       150.0   3433.0          12.0
   5 │      17.0        8.0         302.0       140.0   3449.0          10.5   ⋯
   6 │      15.0        8.0         429.0       198.0   4341.0          10.0
   7 │      14.0        8.0         454.0       220.0   4354.0           9.0
   8 │      14.0        8.0         440.0       215.0   4312.0           8.5
   9 │      14.0        8.0         455.0       225.0   4425.0          10.0   ⋯
  10 │      15.0        8.0         390.0       190.0   3850.0           8.5
  11 │ missing          4.0         133.0       115.0   3090.0          17.5
  ⋮  │     ⋮          ⋮           ⋮            ⋮          ⋮          ⋮         ⋱
 397 │      26.0        4.0         156.0        92.0   2585.0          14.5
 398 │      22.0        6.0         232.0       112.0   2835.0          14.7   ⋯
 399 │      32.0        4.0         144.0        96.0   2665.0          13.9
 400 │      36.0        4.0         135.0        84.0   2370.0          13.0
 401 │      27.0        4.0         151.0        90.0   2950.0          17.3
 402 │      27.0        4.0         140.0        86.0   2790.0          15.6   ⋯
 403 │      44.0        4.0          97.0        52.0   2130.0          24.6
 404 │      32.0        4.0         135.0        84.0   2295.0          11.6
 405 │      28.0        4.0         120.0        79.0   2625.0          18.6
 406 │      31.0        4.0         119.0        82.0   2720.0          19.4   ⋯
                                                  3 columns and 385 rows omitted

## Missing Values

In [8]:
sum(count(ismissing, col) for col in eachcol(df))

14

In [9]:
count(ismissing, Matrix(df)) # much cleaner

14

In [10]:
mapcols(x -> count(ismissing, x), df)   
# take a column and send it to the function 
# this is more descriptive, of course

1×9 DataFrame
 Row │ mpg    cylinders  displacement  horsepower  weight  acceleration  year  ⋯
     │ Int64  Int64      Int64         Int64       Int64   Int64         Int64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     8          0             0           6       0             0      0 ⋯
                                                               2 columns omitted

## Adding a Column based on Data

Let's take the name and take it's first part for "brand".

In [11]:
df.name

406-element Array{String,1}:
 "chevrolet chevelle malibu"
 "buick skylark 320"
 "plymouth satellite"
 "amc rebel sst"
 "ford torino"
 "ford galaxie 500"
 "chevrolet impala"
 "plymouth fury iii"
 "pontiac catalina"
 "amc ambassador dpl"
 "citroen ds-21 pallas"
 "chevrolet chevelle concours (sw)"
 "ford torino (sw)"
 ⋮
 "buick century limited"
 "oldsmobile cutlass ciera (diesel)"
 "chrysler lebaron medallion"
 "ford granada l"
 "toyota celica gt"
 "dodge charger 2.2"
 "chevrolet camaro"
 "ford mustang gl"
 "vw pickup"
 "dodge rampage"
 "ford ranger"
 "chevy s-10"

In [13]:
split.(df.name)
df.brand = first.(split.(df.name))

406-element Array{SubString{String},1}:
 "chevrolet"
 "buick"
 "plymouth"
 "amc"
 "ford"
 "ford"
 "chevrolet"
 "plymouth"
 "pontiac"
 "amc"
 "citroen"
 "chevrolet"
 "ford"
 ⋮
 "buick"
 "oldsmobile"
 "chrysler"
 "ford"
 "toyota"
 "dodge"
 "chevrolet"
 "ford"
 "vw"
 "dodge"
 "ford"
 "chevy"

In [15]:
df[1:10, ["name", "brand"]]

10×2 DataFrame
 Row │ name                       brand
     │ String                     SubStrin…
─────┼──────────────────────────────────────
   1 │ chevrolet chevelle malibu  chevrolet
   2 │ buick skylark 320          buick
   3 │ plymouth satellite         plymouth
   4 │ amc rebel sst              amc
   5 │ ford torino                ford
   6 │ ford galaxie 500           ford
   7 │ chevrolet impala           chevrolet
   8 │ plymouth fury iii          plymouth
   9 │ pontiac catalina           pontiac
  10 │ amc ambassador dpl         amc

In [16]:
size(df)

(406, 10)

In [17]:
df2 = dropmissing(df);

In [18]:
size(df2)

(392, 10)

In [19]:
mapcols(x -> count(ismissing, x), df2)

1×10 DataFrame
 Row │ mpg    cylinders  displacement  horsepower  weight  acceleration  year  ⋯
     │ Int64  Int64      Int64         Int64       Int64   Int64         Int64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     0          0             0           0       0             0      0 ⋯
                                                               3 columns omitted

In [20]:
df2[df2.brand .== "saab", :]  # index-style syntax

4×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    25.0        4.0         104.0        95.0   2375.0          17.5     ⋯
   2 │    24.0        4.0         121.0       110.0   2660.0          14.0
   3 │    25.0        4.0         121.0       115.0   2671.0          13.5
   4 │    21.6        4.0         121.0       115.0   2795.0          15.7
                                                               4 columns omitted

In [21]:
# same as above 
filter(row -> row.brand == "saab", df2)

4×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    25.0        4.0         104.0        95.0   2375.0          17.5     ⋯
   2 │    24.0        4.0         121.0       110.0   2660.0          14.0
   3 │    25.0        4.0         121.0       115.0   2671.0          13.5
   4 │    21.6        4.0         121.0       115.0   2795.0          15.7
                                                               4 columns omitted

## Saving For Future Use

In [22]:
CSV.write("data/auto-cleaned.csv", df2)

"data/auto-cleaned.csv"

We will also use Arrow to save our data. Highly recommended for storing all data. Read more here: https://arrow.apache.org/

In [ ]:
] add Arrow

In [23]:
using Arrow

In [24]:
Arrow.write("data/auto-cleaned.arrow", df2)

"data/auto-cleaned.arrow"

## Further Data Manipulations

In [25]:
df2 = Arrow.Table("data/auto-cleaned.arrow") |> DataFrame

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     ⋯
   2 │    15.0        8.0         350.0       165.0   3693.0          11.5
   3 │    18.0        8.0         318.0       150.0   3436.0          11.0
   4 │    16.0        8.0         304.0       150.0   3433.0          12.0
   5 │    17.0        8.0         302.0       140.0   3449.0          10.5     ⋯
   6 │    15.0        8.0         429.0       198.0   4341.0          10.0
   7 │    14.0        8.0         454.0       220.0   4354.0           9.0
   8 │    14.0        8.0         440.0       215.0   4312.0           8.5
   9 │    14.0        8.0         455.0       225.0   4425.0          10.0     ⋯
  10 │    15.0        8.0         390.0       190.0   3850.0           8.5
  11 │    15.0        8.0         383.0       170.0   3563.0          10.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋱
 383 │    26.0        4.0         156.0        92.0   2585.0          14.5
 384 │    22.0        6.0         232.0       112.0   2835.0          14.7     ⋯
 385 │    32.0        4.0         144.0        96.0   2665.0          13.9
 386 │    36.0        4.0         135.0        84.0   2370.0          13.0
 387 │    27.0        4.0         151.0        90.0   2950.0          17.3
 388 │    27.0        4.0         140.0        86.0   2790.0          15.6     ⋯
 389 │    44.0        4.0          97.0        52.0   2130.0          24.6
 390 │    32.0        4.0         135.0        84.0   2295.0          11.6
 391 │    28.0        4.0         120.0        79.0   2625.0          18.6
 392 │    31.0        4.0         119.0        82.0   2720.0          19.4     ⋯
                                                  4 columns and 371 rows omitted

In [26]:
grouped_brands = groupby(df2, :brand)

GroupedDataFrame with 37 groups based on key: brand
First Group (43 rows): brand = "chevrolet"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0        8.0         307.0       130.0   3504.0          12.0     ⋯
   2 │    14.0        8.0         454.0       220.0   4354.0           9.0
   3 │    15.0        8.0         400.0       150.0   3761.0           9.5
   4 │    28.0        4.0         140.0        90.0   2264.0          15.5
   5 │    17.0        6.0         250.0       100.0   3329.0          15.5     ⋯
   6 │    14.0        8.0         350.0       165.0   4209.0          12.0
   7 │    22.0        4.0         140.0        72.0   2408.0          19.0
   8 │    20.0        4.0         140.0        90.0   2408.0          19.5
   9 │    13.0        8.0         350.0       165.0   4274.0          12.0     ⋯
  10 │    13.0        8.0         307.0       130.0   4098.0          14.0
  11 │    13.0        8.0         350.0       145.0   3988.0          13.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋱
  33 │    30.0        4.0          98.0        68.0   2155.0          16.5
  34 │    17.0        8.0         305.0       130.0   3840.0          15.4     ⋯
  35 │    19.2        8.0         267.0       125.0   3605.0          15.0
  36 │    28.8        6.0         173.0       115.0   2595.0          11.3
  37 │    32.1        4.0          98.0        70.0   2120.0          15.5
  38 │    28.0        4.0         151.0        90.0   2678.0          16.5     ⋯
  39 │    23.5        6.0         173.0       110.0   2725.0          12.6
  40 │    28.0        4.0         112.0        88.0   2605.0          19.6
  41 │    27.0        4.0         112.0        88.0   2640.0          18.6
  42 │    34.0        4.0         112.0        88.0   2395.0          18.0     ⋯
  43 │    27.0        4.0         151.0        90.0   2950.0          17.3
                                                   4 columns and 21 rows omitted
⋮
Last Group (1 row): brand = "nissan"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    36.0        4.0         120.0        88.0   2160.0          14.5     ⋯
                                                               4 columns omitted

In [29]:
grouped_brands[ ("ford", )]       

# Notice the trailing comma!

# This has to be a tuple because we could've grouped 
#  by more than one cols

48×10 SubDataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  ye ⋯
     │ Float64  Float64    Float64       Float64     Float64  Float64       Fl ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    17.0        8.0         302.0       140.0   3449.0          10.5     ⋯
   2 │    15.0        8.0         429.0       198.0   4341.0          10.0
   3 │    21.0        6.0         200.0        85.0   2587.0          16.0
   4 │    10.0        8.0         360.0       215.0   4615.0          14.0
   5 │    19.0        6.0         250.0        88.0   3302.0          15.5     ⋯
   6 │    14.0        8.0         351.0       153.0   4154.0          13.5
   7 │    13.0        8.0         400.0       170.0   4746.0          12.0
   8 │    18.0        6.0         250.0        88.0   3139.0          14.5
   9 │    21.0        4.0         122.0        86.0   2226.0          16.5     ⋯
  10 │    14.0        8.0         351.0       153.0   4129.0          13.0
  11 │    13.0        8.0         302.0       140.0   4294.0          16.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋱
  39 │    17.6        8.0         302.0       129.0   3725.0          13.4
  40 │    15.5        8.0         351.0       142.0   4054.0          14.3     ⋯
  41 │    26.4        4.0         140.0        88.0   2870.0          18.1
  42 │    34.4        4.0          98.0        65.0   2045.0          16.2
  43 │    29.9        4.0          98.0        65.0   2380.0          20.7
  44 │    20.2        6.0         200.0        88.0   3060.0          17.1     ⋯
  45 │    24.0        4.0         140.0        92.0   2865.0          16.4
  46 │    22.0        6.0         232.0       112.0   2835.0          14.7
  47 │    27.0        4.0         140.0        86.0   2790.0          15.6
  48 │    28.0        4.0         120.0        79.0   2625.0          18.6     ⋯
                                                   4 columns and 27 rows omitted

In [30]:
using Statistics

In [31]:
brand_mpg = combine(grouped_brands, :mpg => mean)

37×2 DataFrame
 Row │ brand          mpg_mean
     │ String         Float64
─────┼─────────────────────────
   1 │ chevrolet       20.4721
   2 │ buick           19.1824
   3 │ plymouth        21.7032
   4 │ amc             18.0704
   5 │ ford            19.475
   6 │ pontiac         20.0125
   7 │ dodge           22.0607
   8 │ toyota          28.372
   9 │ datsun          31.113
  10 │ volkswagen      29.1067
  11 │ peugeot         23.6875
  ⋮  │       ⋮           ⋮
  28 │ subaru          30.525
  29 │ chevroelt       16.0
  30 │ capri           25.0
  31 │ vw              39.0167
  32 │ mercedes-benz   23.25
  33 │ cadillac        19.75
  34 │ mercedes        25.4
  35 │ vokswagen       29.8
  36 │ triumph         35.0
  37 │ nissan          36.0
                16 rows omitted

In [32]:
ENV["LINES"] = 10    # I find the large number of rows annoying

10

In [33]:
brand_mpg = combine(grouped_brands, :mpg => mean)

# takes the mean column from each group and 
# passes it to the mean function 
# creates a 'group_name' -> 'aggregate'

37×2 DataFrame
 Row │ brand      mpg_mean
     │ String     Float64
─────┼─────────────────────
   1 │ chevrolet   20.4721
  ⋮  │     ⋮         ⋮
            36 rows omitted

We can also sort it based on the mean.

In [34]:
sort!(brand_mpg, :mpg_mean, rev=true)  # in-place sort

37×2 DataFrame
 Row │ brand      mpg_mean
     │ String     Float64
─────┼─────────────────────
   1 │ vw          39.0167
  ⋮  │     ⋮         ⋮
            36 rows omitted

## Piping and Data Wrangling

There are usually many stages through which we want our data to go through. These are "assembled" or chained together. Piping makes this very readable for us.

We want to read the data from our original data set, group it by brand and then use combine to calculate aggregates on it.

In [35]:
df.origin  # where the brand is from

406-element Array{Float64,1}:
 1.0
 1.0
 1.0
 ⋮
 1.0
 1.0

In [36]:
orig_brand = groupby(df, :brand)
orig_brand = combine(orig_brand, 
                     :origin => x -> length(unique(x)))

# notice the name of the resulting column

38×2 DataFrame
 Row │ brand      origin_function
     │ SubStrin…  Int64
─────┼────────────────────────────
   1 │ chevrolet                1
  ⋮  │     ⋮             ⋮
                   37 rows omitted

In [ ]:
# We can make this prettier and less error-prone.

In [ ]:
] add Pipe

In [37]:
using Pipe

In [38]:
orig_brand = @pipe df |>  
            groupby(_, :brand)  |>  
            combine(_, :origin => x -> length(unique(x)))

38×2 DataFrame
 Row │ brand      origin_function
     │ SubStrin…  Int64
─────┼────────────────────────────
   1 │ chevrolet                1
  ⋮  │     ⋮             ⋮
                   37 rows omitted

In [39]:
# each brand should have an origin of 1. Let's verify. 
extrema(orig_brand.origin_function)

(1, 1)

We can also count the number of data points for each brand.

In [40]:
origin_brand2 = @pipe df |>
                groupby(_, [:origin, :brand]) |>
                combine(_, nrow)  |> 
                sort(_, :nrow, rev=true)

38×3 DataFrame
 Row │ origin   brand      nrow
     │ Float64  SubStrin…  Int64
─────┼───────────────────────────
   1 │     1.0  ford          53
  ⋮  │    ⋮         ⋮        ⋮
                  37 rows omitted

In [41]:
origin_vs_brand = unstack(origin_brand2, 
                        :brand, :origin, :nrow)

38×4 DataFrame
 Row │ brand      1.0      3.0      2.0
     │ SubStrin…  Int64?   Int64?   Int64?
─────┼──────────────────────────────────────
   1 │ ford            53  missing  missing
  ⋮  │     ⋮         ⋮        ⋮        ⋮
                             37 rows omitted

In [42]:
coalesce.(origin_vs_brand, 0)   
# replace missing values with 0 because 
# that makes sense here

38×4 DataFrame
 Row │ brand      1.0    3.0    2.0
     │ SubStrin…  Int64  Int64  Int64
─────┼────────────────────────────────
   1 │ ford          53      0      0
  ⋮  │     ⋮        ⋮      ⋮      ⋮
                       37 rows omitted